/* styles/Navbar.module.css */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: white;
}

.logo {
  font-size: 24px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 1rem;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

.auth a {
  text-decoration: none;
  color: white;
}

/* Mobile styles */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px; /* Adjust the top position as needed */
    left: 0;
    background-color: #333;
    width: 100%;
    z-index: 1;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    margin: 0;
    text-align: center;
  }
}
